/* Main container for the HomePage */
.main {
    display: flex;
    flex-direction: column;
    padding: 0.4em;
    gap: 0.59em;
}
.Login-button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: 280;
    background-color: #3eb3d7;
    cursor: pointer;
    transition: border-color 4.25s;
    position: relative;
}

.ShowUser-button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: 280;
    background-color: #A67360FF;
    cursor: pointer;
    transition: border-color 4.25s;
    position: relative;
}

.Logout-button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.3em;
    font-size: 1.3em;
    font-weight: 280;
    background-color: #e89c51;
    cursor: pointer;
    transition: border-color 4.25s;
    position: relative;
}

.Excell-button{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.2em;
    font-size: 1.0em;
    font-weight: 180;
    background-color: rgb(70, 140, 62);
    cursor: pointer;
    transition: border-color 4.25s;
    position: relative;
}
/* Button for creating a new blog entry */
.new-entry-button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em;
    font-size: 2.3em;
    font-weight: 680;
    background-color: #3a608c;
    cursor: pointer;
    transition: border-color 4.25s;
    position: relative;
}

/* Icon for the "New Entry" button PLUS */
.add-button-icon {
    width: 1.35em;
    position: absolute;
    top: 0.7em;
    left: 2.0em;
    font-size: 32px;
}

/* Container for displaying a list of blog entries */
.blog-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 1em;
    font-size: 1.1em;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.25em;
    font-weight: 340;
    background-color: rgb(166, 115, 96);
    cursor: text;
    transition: border-color 0.25s;
    position: relative;
}

/* Small new entry button */
.new-entry-button-small {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.2em;
    font-size: 1.3em;
    font-weight: 200;
    background-color: #A67360FF;
    cursor: pointer;
    transition: border-color 0.95s;
    position: relative;
}

/* Small new entry button for Excel export */
.new-entry-button-small-exc {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.1em;
    font-size: 1.0em;
    font-weight: 200;
    color: #242424;
    background-color: #dbba60;
    cursor: pointer;
    transition: border-color 0.95s;
    position: relative;
}

